@import "../var.scss";
@import "../mixins/index.scss";

.bem-setup__trigger-btn {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  background-color: transparent;
  // background-color: red;
  width: 0.5rem;
  height: 0.5rem;
}
.bem-setup {
  padding: 0.2rem 0.3rem;
  color: #333;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    rgba(147, 206, 222, 1) 0%,
    rgba(117, 189, 209, 1) 41%,
    rgba(73, 165, 191, 1) 100%
  );
  @at-root {
    #{&}__text--not-init {
      text-align: center;
      color: #666;
      margin-top: 0.4rem;
    }
    #{&}__info-wrap {
      flex: 1;
      overflow: auto;
      padding: 0 0.2rem;
      padding-bottom: 0.3rem;
      font-size: $--font-size-base;
      li {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        line-height: 2em;
      }
      .label {
        color: #666;
      }
      .text {
        float: right;
      }
    }
    #{&}__fun-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    #{&}__select-wrap {
      margin-bottom: 0.3rem;
    }
    #{&}__hr {
      font-size: $--font-size-base;
      display: flex;
      align-items: center;
      color: #666;
      &::after,
      &::before {
        content: "";
        flex: 1;
        border-top: 0.03rem dashed #666;
      }
    }
    #{&}__btn {
      flex: 0 0 22%;
      background: #607d8b;
      border-radius: 0.1rem;
      color: #fff;
      font-size: $--font-size-base;
      padding: 0.2rem 0;
      margin-left: 0.35rem;
      margin-bottom: 0.3rem;
      border: 0;
      outline: none;
      &:nth-child(1),
      &:nth-child(4n + 1) {
        margin-left: 0;
      }
    }
    #{&}__init-btn {
      padding: 0.2rem 0.3rem;
      margin: 0;
      background: #009688;
      flex-basis: auto;
      align-self: flex-start;
    }
    #{&}--shadow {
      box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
      &:active {
        box-shadow: inset 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
      }
    }
    #{&}__select {
      background: #fff;
      margin: 0.1rem 0;
      outline: none;
      border: 0;
      padding: 0.1rem;
      vertical-align: middle;
      font-size: $--font-size-base;
      height: 0.8rem;
      border-radius: 0.08rem;
      vertical-align: middle;
      color: #666;
    }
  }
}

.bem-setup__pwd {
  width: 4.5rem;
  height: 4rem;
}

.bem-setup__pwd-input {
  font-size: 0.4rem;
  padding: 0 0.1rem;
  outline: none;
}
