@mixin button-variant($color, $background-color, $border-color) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;
  &:active {
    background: mix(#000, $background-color, 10%);
    border-color: mix(#000, $border-color, 10%);
  }
  &.is-plain {
    @include button-plain($background-color);
  }
  &.is-transparent {
    background: transparent;
    border-color: $border-color;
  }
  &.is-stereo {
    background: #18AC91;
    color: #fff;
    border: 0;
    box-shadow: 0rem -0.03rem 0.03rem 0rem rgba(0, 0, 0, 0.2) inset;
    // transition: transform 0.1s;
    &:active {
      transform: translateY(0.01rem);
      box-shadow: 0rem -0.01rem 0.01rem 0rem rgba(0, 0, 0, 0.2) inset;;
    }
    &.bem-button--warning {
      background: #fff;
      color: #F08560;
    }
    &.bem-button--info {
      background: #fff;
      color: #27393B;
    }
  }
  &.is-disabled {
    background: #e0e0e0;
    color: #ffffff;
    border: 0;
  }
}

@mixin button-plain($color) {
  color: $color;
  background: mix(#fff, $color, 90%);
  border-color: mix(#fff, $color, 60%);
  &:active {
    background: mix(#000, $color, 10%);
    border-color: mix(#000, $color, 10%);
    color: #fff;
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
}
