/* 全局输入样式*/
@import "./var.scss";

// 全屏
.bem--fullscreen {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
}

// 圆角
.is-round {
  border-radius: $--border-radius-large;
}
