/* 全局输入样式*/
@import "./var.scss";

@keyframes spin {
  0% { transform: rotate(0deg); }
  100%   { transform: rotate(360deg); }
}

// 全屏
.bem--fullscreen {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 10001;
  position: fixed;
  top: 0;
  left: 0;
}

// 圆角
.is-round {
  border-radius: $--border-radius-large;
}

.bem-waiting {
  width: 0.5rem;
  height: 0.5rem;
  border: 0.05rem solid $--color-primary;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 1s spin linear infinite;
}
